@charset "UTF-8";

body {
    background-color: rgb(238, 219, 194);
}

header {
    background-image: linear-gradient(to bottom, #03A63C, #027333, #025939);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    text-align: center;
    padding top: 40px;
    margin: auto;
    min-height: 150px;
}

header > h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgb(0, 0, 0, 0, 267);
}

header > p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1,2em;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    padding-bottom: 50px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0, 315);
}

nav {
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0, 192);
    text-align: left;
    margin: auto;
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    width: 1000px;
    padding: 15px;
    margin: auto;
}

* {
    margin: 0px;
    padding: 0px;
}